body {
  background-color: gray;
}
.post {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 300px;
  height: auto;
}
.photo {
  color: red;
}
.author {
  color: red;
}
.position {
  color: red;
}
.time {
  color: red;
}
.text {
  color: red;
}